In [5]:
import sys
sys.path.append(r'C:/Users/franc/OneDrive/Documentos/VScode/fco.ho/testing-models/functions')

from dotenv import load_dotenv
import os
rute_env = 'C:/Users/franc/OneDrive/Documentos/VScode/fco.ho/testing-models/.env'

from pp_functions import reduce_dim_by, make_chart, outlier_remover

exec(open(r'C:/Users/franc/OneDrive/Documentos/VScode/fco.ho/testing-models/functions/database.py').read())

In [6]:
test = SolarityDB()

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [34]:
test.query_to_df("SELECT * FROM city")

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [ ]:
# %%
%load_ext dotenv
%dotenv